.about-sphere {
    position: absolute;
    width: 1159px;
    height: 1159px;
    left: -130px;
    top: 1066px;
    background: linear-gradient(180deg, #9DFA73 30.6%, rgba(157, 250, 115, 0.684964) 45.7%, rgba(157, 250, 115, 0.401965) 59.49%, rgba(157, 250, 115, 0) 100%);
    border-radius: 50%;
    z-index: -1;
}

.about-block {

    &__subtitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;   
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.25em;
        color: #1A2691;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.43);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 34px;
    };

    &__title {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        letter-spacing: 0.015em;
        color: #AC3B3B;     
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.43);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 27px;
    }

    &__description {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 160.02%;
        text-align: center;
        color: rgba(15, 14, 14, 0.59);
    };

    &__photo {
        display: block;
        background: url(../images/about/about.png);
        width: 771px;
        height: 500px;
        margin: 38px 0 0 60px; 
    };

    &-markup {
        display: block;
        margin: 714px 0 0 66px;
        max-width: 768px;
    }
}

.about__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
}