.footer {
    &__firmname {
        width: 378px;
        text-align: end;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }

    &__email {
        margin-left: 448px;
        width: 94px;
        background: url(../images/footer/mailru.svg);
        height: 84px;
        background-repeat: no-repeat;
        background-position: right;
        cursor:pointer;

        &:hover {
            animation: hover_button 0.3s;
        }    

        &:active {
            animation: active_button 0.6s;
        }
    }

    &__telegram {
        margin-right: 10px;
        width: 94px;
        background: url(../images/footer/telegram.svg);
        height: 84px;
        background-repeat: no-repeat;
        background-position: right;
        flex-shrink: 0;
        cursor:pointer;

        &:hover {
            animation: hover_button 0.3s;
        }
        
        &:active {
            animation: active_button 0.6s;
        }
    }


    &-row {
        height: 250px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}

@keyframes hover_button {
    50% {
        transform: scale(1.25);
    }
}

@keyframes active_button {
    100% {
        transform: rotate(360deg);
    }
}