.menu {

    &__logo {
        width: 40px;
        height: 40px;
        background-image: url(../images/header/profile-item.svg);
        background-size: cover;
    }

    &__item a {
        color: whitesmoke;
        cursor:pointer;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 4px;
            text-underline-offset:-58px;
        }
    }

    &-row {
        margin: 0px 0px 0px 650px;
        height: 104px;
        padding: 30px auto;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        font-size: 18px;
    }
}





