@media screen and (max-width: 1268px) {
    .portfolio-sphere {
        //position: absolute;
        margin: -517px 0 0 -374px;
    }

    .portfolio-block-markup {
        margin:-1105px 0 0 10px;
    }

    .dredd2 {
        margin-top: -1169px;
        margin-left: -148px;
    }
}