
// div {
//     user-select: none;
//     cursor:pointer;
// }

@font-face {
    font-family: Radiotechnika;
    src: url("../fonts/Radiotechnika.otf") format("opentype");
    font-family: Enthalpy298;
    src: url("../fonts/Enthalpy298.otf") format("opentype");
}

body {
    // font-family: Radiotechnika;
    font-family: Enthalpy298;
    font-weight: 100;
    background-color: #269;
    background-image:
        linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
        linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    
}

.container-inner {
    width: 1200px;
    margin: 50px auto;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-decor{
    border-top: 2px solid grey;
    width: 70px;
    height: 30px;
    background: red;
}

// Кнопка запуска страницы
.start-button {
    margin: 33px 0 0 5px;
    width: 100px;
    height: 100px;
    background: #151515;
    color:aliceblue;
    cursor: pointer;
    border-radius: 50%;
    transform: rotate(45deg);
    font-family: Enthalpy298;
    letter-spacing: 3px;
    font-size: 24px;

    &:hover {
        animation: clicked_h .2s infinite;
    }

    &:active {
        animation: clicked .2s;
    }
}

@keyframes clicked {
    50% {
        transform: scale(2);
    }
}

@keyframes clicked_h {
    50% {
        transform: rotate(45deg) scale(1.1);
    }
}

// .start-button:hover {
//     animation: clicked_h .2s infinite;
    // animation-duration: 0.2s;
    // animation-timing-function: ease;
    // animation-delay: 0s;
    // animation-iteration-count: infinite;
    // animation-direction: normal;
    // animation-fill-mode: none;
    // animation-play-state: running;
    // animation-name: clicked_h;
// }

// .start-button:active {
//     animation: clicked .2s;
    // animation-duration: 0.2s;
    // animation-timing-function: ease;
    // animation-delay: 0s;
    // animation-iteration-count: 1;
    // animation-direction: normal;
    // animation-fill-mode: none;
    // animation-play-state: running;
    // animation-name: clicked;
// }

.button {
    width: 50px;
    height: 50px;
    border-bottom-left-radius: 50%; 
    border-bottom-right-radius: 50%;
    margin: 10px 10px;
    background: #151515;
    color: whitesmoke;
    cursor: pointer;
    font-size: 24px;
}

.button:hover {
    animation: clicked2 2s;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: clicked2_h;
}

.button:active {
    animation: clicked2 .2s;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: clicked2;
}

@keyframes clicked2_h {
    50% {
        transform: translate(0px, 3px) scale(1,1.1);
    }
}

@keyframes clicked2 {
    50% {
        transform: translate(0px, 15px) scale(1,1.5);
    }
}

.section {
    display:none;
    position: absolute;
    // align-items: center;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    // line-height: 720px;
    height: 100%;
    border-radius: 20px;
    transition: opacity 1s;
}

.left-part__markup {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    display:block;
    width: 50%;
    text-align: left;
    padding: 40px;
}

.right-part__markup {
    display: block;
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #151515;
    text-align: left;
    letter-spacing: 1px;
    background: linear-gradient(180deg, rgba(15,15,15,0) 10%, rgba(1,1,37,1) 50%, rgba(2,0,36,1) 70%), url("../Pages/pizzaville/present_f.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}

ul {
    list-style-type: circle;
    line-height: 1.2em;
}

a {
    text-decoration: none;
    color: aquamarine;
    cursor:pointer;
}

.left-part__markup h2 {
    font-size: 36px;
}

.left-part__markup h3 {
    color:#151515;
    font-size: 52px;
    padding-left: 80px;
}

.tech {
    padding: 40px;
    padding-top: 260px;
}

h1 {
    text-align: right;
    font-size: 80px;
    color:#151515;
    padding-bottom: 68px;
}

.page {
    &001 {
        width:100%;
        background: black;
        color: aqua;
        opacity: 0;
    }

    &002 {
        display:flex;
        //flex-direction: column;
        width:100%;
        background: red;
        color: aquamarine;
        opacity: 0;
    }

    &003 {
        width:100%;
        background: blue;
        color:antiquewhite;
        opacity: 0;
    }

    &004 {
        width:100%;
        background: green;
        color: orange;
        opacity: 0;
    }

    &005 {
        width:100%;
        background: magenta;
        color: wheat;
        opacity: 0;
    }

    &006 {
        width:100%;
        background: yellow;
        color:black;
        opacity: 0;
    }

    &s-row {
        position: relative;
        height: 720px;
    }
}

.showed {
    opacity: 1;
    display: flex;
}