@font-face {
  font-family: Radiotechnika;
  src: url("../fonts/Radiotechnika.otf") format("opentype");
  font-family: Enthalpy298;
  src: url("../fonts/Enthalpy298.otf") format("opentype");
}
body {
  font-family: Enthalpy298;
  font-weight: 100;
  background-color: #269;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, 0.5) 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.28) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.container-inner {
  width: 1200px;
  margin: 50px auto;
}

.start-button {
  width: 100px;
  height: 100px;
  background: #151515;
  color: aliceblue;
  cursor: pointer;
  border-radius: 50%;
  font-family: Enthalpy298;
  letter-spacing: 3px;
  font-size: 24px;
}
.start-button:hover {
  -webkit-animation: clicked_h 0.2s infinite;
          animation: clicked_h 0.2s infinite;
}
.start-button:active {
  -webkit-animation: clicked 0.2s;
          animation: clicked 0.2s;
}

@-webkit-keyframes clicked {
  50% {
    transform: scale(2);
  }
}

@keyframes clicked {
  50% {
    transform: scale(2);
  }
}
@-webkit-keyframes clicked_h {
  50% {
    transform: rotate(45deg) scale(1.1);
  }
}
@keyframes clicked_h {
  50% {
    transform: rotate(45deg) scale(1.1);
  }
}
.start-button2 {
  width: 100px;
  height: 100px;
  background: #151515;
  color: aliceblue;
  cursor: pointer;
  border-radius: 50%;
  font-family: Enthalpy298;
  letter-spacing: 3px;
  font-size: 24px;
}
.start-button2:not(focus) {
  -webkit-animation: clicked_hide_button 2s;
          animation: clicked_hide_button 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes clicked_hide_button {
  50% {
    transform: scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0.00001);
    display: none;
  }
}

@keyframes clicked_hide_button {
  50% {
    transform: scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0.00001);
    display: none;
  }
}
.pizza-start {
  margin: 33px 0 0 5px;
  transform: rotate(45deg);
}

.house-start {
  margin: 33px 0 0 409px;
  transform: rotate(-45deg);
}

.input-start {
  margin: 33px 0 0 5px;
  transform: rotate(45deg);
}

.bagames-start {
  margin: 33px 0 0 409px;
  transform: rotate(-45deg);
}

.slider-start {
  margin: 33px 0 0 5px;
  transform: rotate(45deg);
}

.dredd-start {
  margin: 33px 0 0 409px;
  transform: rotate(-45deg);
}

.slaine-start {
  margin: 33px 0 0 5px;
  transform: rotate(45deg);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 50px;
  height: 50px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin: 10px 10px;
  background: #151515;
  color: whitesmoke;
  cursor: pointer;
  font-size: 24px;
}
.button:hover {
  -webkit-animation: clicked2_h 2s infinite;
          animation: clicked2_h 2s infinite;
}
.button:active {
  -webkit-animation: clicked2 1s;
          animation: clicked2 1s;
}
.button-decor {
  border-top: 2px solid grey;
  width: 70px;
  height: 30px;
  background: red;
}
.button-decor:first-child {
  border-bottom-left-radius: 30px;
}
.button-decor:last-child {
  border-bottom-right-radius: 30px;
}

@-webkit-keyframes clicked2_h {
  50% {
    transform: translate(0px, 3px) scale(1, 1.1);
  }
}

@keyframes clicked2_h {
  50% {
    transform: translate(0px, 3px) scale(1, 1.1);
  }
}
@-webkit-keyframes clicked2 {
  50% {
    transform: translate(0px, 15px) scale(1, 1.5);
  }
}
@keyframes clicked2 {
  50% {
    transform: translate(0px, 15px) scale(1, 1.5);
  }
}
.section {
  display: none;
  position: absolute;
  height: 100%;
  border-radius: 20px;
  -webkit-animation: slide-open 1s;
          animation: slide-open 1s;
}

@-webkit-keyframes slide-open {
  0% {
    background: grey;
  }
  20% {
    transform: translate(0px, 14px) scale(0.96, 0.96);
    background: grey;
  }
}

@keyframes slide-open {
  0% {
    background: grey;
  }
  20% {
    transform: translate(0px, 14px) scale(0.96, 0.96);
    background: grey;
  }
}
.title-part__markup {
  width: 50%;
  padding: 40px;
}
.title-part__markup h1 {
  text-align: right;
  font-size: 80px;
  color: #151515;
  padding-bottom: 68px;
}
.title-part__markup h2 {
  font-size: 36px;
}
.title-part__markup h3 {
  color: #151515;
  font-size: 52px;
  padding-left: 80px;
}

.description-part__markup {
  display: block;
  width: 50%;
  height: 100%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #151515;
  text-align: left;
  letter-spacing: 1px;
}
.description-part__markup h2 {
  font-size: 20px;
}

ul {
  list-style-type: circle;
  line-height: 1.2em;
}

a {
  text-decoration: none;
  color: aquamarine;
  cursor: pointer;
}

.description-wanted {
  color: #151515;
  font-size: 32px;
  letter-spacing: 2px;
}
.description-pizza {
  padding: 40px;
  padding-top: 260px;
}
.description-house {
  padding: 40px;
  padding-top: 375px;
}
.description-input {
  padding: 40px;
  padding-top: 360px;
}
.description-bagames {
  padding: 40px;
  padding-top: 375px;
}
.description-slider {
  padding: 40px;
  padding-top: 360px;
}
.description-dredd {
  padding: 40px;
  padding-top: 375px;
}
.description-slaine {
  padding: 40px;
  padding-top: 360px;
}
.description-tools {
  padding: 40px;
  padding-top: 260px;
}
.description-others {
  padding: 40px;
  padding-top: 299px;
}

.background-wanted {
  height: 100%;
  background-image: url(../Pages/intro/developer.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.background-pizza {
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 10%, rgb(1, 1, 37) 50%, rgb(2, 0, 36) 70%), url("../Pages/pizzaville/present_f.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.background-house {
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 10%, rgb(1, 1, 37) 50%, rgb(2, 0, 36) 70%), url("../Pages/oknahouse/preview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.background-input {
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 10%, rgb(1, 1, 37) 50%, rgb(2, 0, 36) 70%), url("../Pages/forma/preview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.background-bagames {
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 10%, rgb(1, 1, 37) 50%, rgb(2, 0, 36) 70%), url("../Pages/base/preview-bagamy.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.background-slider {
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 10%, rgb(1, 1, 37) 50%, rgb(2, 0, 36) 70%), url("../Pages/base/preview-slider.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.background-dredd {
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 10%, rgb(1, 1, 37) 50%, rgb(2, 0, 36) 70%), url("../Pages/dredd/preview.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.background-slaine {
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 10%, rgb(1, 1, 37) 50%, rgb(2, 0, 36) 70%), url("../Pages/slaine/preview.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.background-tools {
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 10%, rgb(1, 1, 37) 30%, rgb(2, 0, 36) 90%), url("../Pages/tools/preview.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.background-others {
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 10%, rgb(1, 1, 37) 44%, rgb(2, 0, 36) 70%), url("../Pages/others/preview.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.page001 {
  width: 100%;
  background: #00FF00;
  color: aqua;
  opacity: 0;
}
.page002 {
  width: 100%;
  background: red;
  color: antiquewhite;
  opacity: 0;
}
.page003 {
  width: 100%;
  background: blue;
  color: antiquewhite;
  opacity: 0;
}
.page004 {
  width: 100%;
  background: green;
  color: antiquewhite;
  opacity: 0;
}
.page005 {
  width: 100%;
  background: magenta;
  color: wheat;
  opacity: 0;
}
.page006 {
  width: 100%;
  background: blueviolet;
  color: antiquewhite;
  opacity: 0;
}
.pages-row {
  position: relative;
  height: 720px;
}

.hr-limiter {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  width: 430px;
}

.showed {
  opacity: 1;
  display: flex;
}/*# sourceMappingURL=anim-easy-slider-styles.css.map */